[run]
source = src
omit = src/**/__init__.py,src/tests/**,src/ui/**,src/main.py,src/timer.py,src/visualize.py,src/testcases.py,src/config.py,src/directedhausdorff.py,src/undirectedhausdorff.py,src/hausdorff.py,src/read_mnist.py
