#leave out for now, needs to be added later
src/timer.py
src/visualize.py
src/hausdorff.py
src/read_mnist.py
src/undirectedhausdorff.py
src/directedhausdorff.py
src/tests/directedhausdorff_test.py
src/tests/undirectedhausdorff_test.py
src/tests/read_mnist_test.py
data/
ToDo
main.py


__pycache__
ownnotes.md