#leave out for now, needs to be added later
src/visualize.py
src/hausdorff.py
src/read_mnist.py
src/undirectedhausdorff.py
src/directedhausdorff.py
src/tests/directedhausdorff_test.py
src/tests/undirectedhausdorff_test.py
src/tests/read_mnist_test.py
data/
ToDo.md
main.py
mnist_get_data.sh
src/ui/param_view.py

__pycache__
ownnotes.md